### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Environnements
env_dev
env_qualif
env_audit
env_contrib
env_dev_local
.env

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
# Keep root bin folder
!/bin
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

### NetBeans ###
nbproject/private/
#build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

### VS Code ###
.vscode/

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

sftp-config.json
sftp-config-alt.json

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode

## Directory-based project format
.idea/
# if you remove the above rule, at least ignore user-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# and these sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml

## File-based project format
*.ipr
*.iws
*.iml

## Additional for IntelliJ
out/

# generated by mpeltonen/sbt-idea plugin
.idea_modules/

### NodeJS ###
node_modules/
styleguide/
bower_components/

# Composer
/vendor/

# WordPress
/wp/
/salt.php

content/uploads/
content/blogs.dir/
content/upgrade/
content/backup-db/
content/advanced-cache.php
content/wp-cache-config.php
sitemap.xml
*.log
content/cache/
content/backups/
sitemap.xml.gz

### Project ###
# Dont track wp-minify cache folder
content/plugins/bwp-minify/cache/
# Don't track wp-rocket config/cache files
content/plugins/wp-rocket/cache.json
content/wp-rocket-config/

# Development plugins
content/plugins/developer/
content/plugins/debug-bar-console/
content/plugins/debug-bar-cron/
content/plugins/debug-bar-extender/
content/plugins/debug-bar/
content/plugins/developer/
content/plugins/log-deprecated-notices/
content/plugins/rewrite-rules-inspector/
# BEGIN autoload #
content/mu-plugins/autoload
# END autoload #

# BEGIN disable-xmlrpc #
content/mu-plugins/disable-xmlrpc
# END disable-xmlrpc #

# BEGIN _debug #
content/mu-plugins/_debug
# END _debug #

# BEGIN bea-welcome-panel #
content/mu-plugins/bea-welcome-panel
# END bea-welcome-panel #

# BEGIN debug-bar-extender #
content/plugins/debug-bar-extender
# END debug-bar-extender #

# BEGIN debug-bar-cache-lookup #
content/plugins/debug-bar-cache-lookup
# END debug-bar-cache-lookup #

# BEGIN logger #
content/mu-plugins/logger
# END logger #

# BEGIN mu-loader #
content/mu-plugins/mu-loader
# END mu-loader #

# BEGIN sanitize-filename #
content/mu-plugins/sanitize-filename
# END sanitize-filename #

# BEGIN git-infos #
content/plugins/git-infos
# END git-infos #

# BEGIN missed-schedule #
content/mu-plugins/missed-schedule
# END missed-schedule #

# BEGIN plugin-redirection #
content/mu-plugins/plugin-redirection
# END plugin-redirection #

# BEGIN bea-env-switcher #
content/mu-plugins/bea-env-switcher
# END bea-env-switcher #

# BEGIN bbq-pro #
content/plugins/bbq-pro
# END bbq-pro #

# BEGIN wp-security-audit-log #
content/plugins/wp-security-audit-log
# END wp-security-audit-log #

# BEGIN login-security-solution #
content/plugins/login-security-solution
# END login-security-solution #

# BEGIN broken-link-checker #
content/plugins/broken-link-checker
# END broken-link-checker #

# BEGIN sucuri-scanner #
content/plugins/sucuri-scanner
# END sucuri-scanner #

# BEGIN disable-embeds #
content/plugins/disable-embeds
# END disable-embeds #

# BEGIN disable-emojis #
content/plugins/disable-emojis
# END disable-emojis #

# BEGIN wp-redis #
content/plugins/wp-redis
# END wp-redis #

# BEGIN wp-native-php-sessions #
content/plugins/wp-native-php-sessions
# END wp-native-php-sessions #


# BEGIN wordpress-seo #
content/plugins/wordpress-seo
# END wordpress-seo #

# BEGIN redirection #
content/plugins/redirection
# END redirection #

# BEGIN user-switching #
content/plugins/user-switching
# END user-switching #

# BEGIN delete-expired-transients #
content/plugins/delete-expired-transients
# END delete-expired-transients #

# BEGIN cookie-notice #
content/plugins/cookie-notice
# END cookie-notice #

# BEGIN optimus #
content/plugins/optimus
# END optimus #

# BEGIN debug #
content/plugins/debug
# END debug #

# BEGIN debug-bar #
content/plugins/debug-bar
# END debug-bar #

# BEGIN debug-bar-actions-and-filters-addon #
content/plugins/debug-bar-actions-and-filters-addon
# END debug-bar-actions-and-filters-addon #

# BEGIN debug-bar-cron #
content/plugins/debug-bar-cron
# END debug-bar-cron #

# BEGIN debug-bar-list-dependencies #
content/plugins/debug-bar-list-dependencies
# END debug-bar-list-dependencies #

# BEGIN debug-bar-shortcodes #
content/plugins/debug-bar-shortcodes
# END debug-bar-shortcodes #

# BEGIN debug-bar-slow-actions #
content/plugins/debug-bar-slow-actions
# END debug-bar-slow-actions #

# BEGIN rewrite-rules-inspector #
content/plugins/rewrite-rules-inspector
# END rewrite-rules-inspector #

# BEGIN wp-email-debug #
content/plugins/wp-email-debug
# END wp-email-debug #

# BEGIN wp-newrelic #
content/plugins/wp-newrelic
# END wp-newrelic #

# BEGIN laps #
content/plugins/laps
# END laps #

# BEGIN prod-images #
content/mu-plugins/prod-images
# END prod-images #

# BEGIN beapi-maintenance-mode #
content/plugins/beapi-maintenance-mode
# END beapi-maintenance-mode #

# BEGIN advanced-custom-fields-pro #
content/plugins/advanced-custom-fields-pro
# END advanced-custom-fields-pro #

# BEGIN elementor-pro #
content/plugins/elementor-pro
# END elementor-pro #


# BEGIN google-analytics-for-wordpress #
content/plugins/google-analytics-for-wordpress
# END google-analytics-for-wordpress #

# BEGIN elementor #
content/plugins/elementor
# END elementor #


# BEGIN wpforms #
content/plugins/wpforms
# END wpforms #


# BEGIN wp-thumb #
content/plugins/wp-thumb
# END wp-thumb #

# BEGIN safe-svg #
content/plugins/safe-svg
# END safe-svg #

# BEGIN premium-addons-for-elementor #
content/plugins/premium-addons-for-elementor
# END premium-addons-for-elementor #

# BEGIN acf-svg-icon #
content/plugins/acf-svg-icon
# END acf-svg-icon #


# BEGIN wp-pagenavi #
content/plugins/wp-pagenavi
# END wp-pagenavi #


# BEGIN disable-search #
content/plugins/disable-search
# END disable-search #

# BEGIN imsanity #
content/plugins/imsanity
# END imsanity #

# BEGIN wp-rocket #
content/plugins/wp-rocket
# END wp-rocket #

# BEGIN disable-comments #
content/plugins/disable-comments
# END disable-comments #


# BEGIN duplicate-post #
content/plugins/duplicate-post
# END duplicate-post #



# BEGIN sf-move-login #
content/plugins/sf-move-login
# END sf-move-login #




# BEGIN cms-tree-page-view #
content/plugins/cms-tree-page-view
# END cms-tree-page-view #
